{% extends "index2.html" %}
{% block title %} WodaRay Main Page {% endblock %}

{% block content %}
    <style type="text/css">
        #editor {
            position: relative !important;
            border: 1px solid lightgray;
            margin: auto;
            height: 400px;
            width: 100%;
        }
        #editor-container{
            text-align: left !important;
        }
    </style>

    <div class="jumbotron">
        <nav role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">AiirPovRay</a>
            </div>
    <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Create Render</a></li>
                    <li><a href="{% url account %}">Account</a></li>
                   <!-- <li><a href="#">About Us</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url logout %}">Logout</a></li>
            </ul>
        </div>
    </nav>

            <h1><small>Welcome in AiirPovRey, an web renders generator!</small></h1></p>
            <p></p>
            <p>Paste your PovRey code into window below and hit "Submit Code" button. Your render will be generated in seconds!</p>
            <p></p>
            <p></p>
            <p><small>Your earlier Renders</small></p>
            <table class="table table-striped" id="renders">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Render Name</th>
                        <th>Start Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
    <div id="editor-container">
        <!--<div class="progress progress-striped active">
            <div class="progress-bar" style="width: 77%;">
                <span class="sr-only">77% Complete</span>
            </div>
        </div>-->
        <div class="form-group">
            <label class="control-label">Render name:</label>
            <div class="">
                <input type="text" name="name" id="render-name" placeholder="render-name" class="form-control input-md" />
            </div>
        </div>
        <br />
        <div id="editor">#include "colors.inc"

background { color Cyan }

camera {
  location <0, 2, -3>
  look_at <0, 1, 2>
}

sphere {
  <0, 1, 2>, 2
  texture {
    pigment { color Yellow }
  }
}

light_source { <2, 4, -3> color White}
        </div>
        <p></p>
            <div class="col-xs-offset-0 col-xs-0">
                <button type="submit" class="btn btn-primary" id="submit">Submit Code</button>
    </div>
    <div id="ret"></div>

    <script src="{{ STATIC_URL }}js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/scripts.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/mono_industrial");
        editor.getSession().setMode("ace/mode/c_cpp");


        function refresh(){
            refreshRenders("{% url ajax "refresh" %}")
            $('#renders tbody').html("");
            getRenders("{% url ajax "select" %}", "{{ STATIC_URL }}users/{{ user.id }}");
        }

        $(document).ready(function(){
                getRenders("{% url ajax "select" %}", "{{ STATIC_URL }}users/{{ user.id }}");
                setInterval(function(){
                    refresh();
                }, 5000);
                $("button#submit").click(function(e){
                   $.ajax({
                        url: 'http://aiir.pythonanywhere.com{% url ajax "create" %}/',
                        type: "POST",
                        data: {name: $('#render-name').val(), script: editor.getValue()},
                        dataType:'json',
                        success: function(data){
                            if (data.result == "success")
                               alert("Render has been created");
                            else
                                alert("Error occurred while processing");
                            $('#renders tbody').html('');
                            getRenders("{% url ajax "select" %}");
                        },
                        error: function(e){
                            alert("failure: " + e.status);
                            $('#ret').html(e.responseText);
                        }

                    });

                });
            });
    </script>

{% endblock content %}