<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">
    body{
    	padding-top: 70px;
    }
</style>
</head>
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
		<!--<form class="form-horizontal">
		    <div class="form-group">
		        <label for="username" class="control-label col-xs-1">Username</label>
		        <div class="col-xs-3">
		            <input type="text" class="form-control" id="username" placeholder="Username">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inputEmail" class="control-label col-xs-1">Email</label>
		        <div class="col-xs-3">
		            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inputPassword" class="control-label col-xs-1">Password</label>
		        <div class="col-xs-3">
		            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="confirmPassword" class="control-label col-xs-1">Confirm Password</label>
		        <div class="col-xs-3">
		            <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-xs-offset-1 col-xs-3">
		            <button type="submit" class="btn btn-primary">Register</button>
		        </div>
		    </div>
		</form>
		-->
        <div class="row">


        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>&copy; Aplikacje Internetowe i Rozproszone</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>

