<html>
    <head>
        <title>PovRayRenders</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css" type="text/css" />
    </head>
    <body>
        <h1>PovRayRenders</h1>
        <h2>Rejestracja</h2>
        <div class="container">
            <div class="">
                <form>
                    <table class="table ">
                        <tr>
                            <td>Imię i nazwisko / Nick / Nazwa konta:</td>
                            <td><input type="text" name="name" /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" name="email" /></td>
                        </tr>
                        <tr>
                            <td>Hasło:</td>
                            <td><input type="password" name="password" /></td>
                        </tr>
                        <tr>
                            <td>Powtórz hasło:</td>
                            <td><input type="password" name="re_password" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Rejestruj" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


    </body>
</html>