{% extends "index.html" %}
{% block title %} - rejestracja {% endblock %}

{% block h1 %}PovRayRenders - rejestracja{% endblock %}
{% block content %}
        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Podaj dane konta</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Imię i nazwisko</label>
          <div class="col-md-4">
          <input id="name" name="name" class="form-control input-md" required="" type="text">
          <span class="help-block">Imię i nazwisko / Nick / Nazwa konta</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-4">
          <input id="email" name="email" placeholder="@email" class="form-control input-md" required="" type="text">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Hasło</label>
          <div class="col-md-4">
            <input id="password" name="password" placeholder="" class="form-control input-md" required="" type="password">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="re_password">Powtórz hasło</label>
          <div class="col-md-4">
            <input id="re_password" name="re_password" placeholder="" class="form-control input-md" required="" type="password">

          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Zarejestruj się</button>
          </div>
        </div>

        </fieldset>
        </form>
{% endblock %}